<% include ./partials/header %>

<div class="container noBorder">
    <div class="row">
          <div class="col-xs-0 col-sm-0 col-md-2">
              </div>
      <div class="col-xs-12 col-sm-12  col-md-8 rounded">
            <h2 class="headerBlog">Latest Blog Posts</h2>
            <%  blogs.forEach(function(blog){ %>
  <div class="card" >

 
    <div class="card-body  cbIndex">
            <img class="indexImage rounded" src="<%= blog.image %>" alt="Card image">
      <h2 class="card-title"><%= blog.title %></h2>
      <p class="card-text"> <%= blog.body.substring(0, 100)%>...</p>
      <p class="publishDate">Published: <%= blog.created.toDateString() %></p>
      <a href="/blogs/<%= blog._id%>" class="btn btn-primary">Read More</a>
    </div>

 
 

</div>
<% }); %>
</div>
</div>
</div>







<% include ./partials/footer %>