<% include ./partials/header %>

<div class="container noBorder">
      
        <div class="card centerCard" style="width:800px; ">
          <img class="card-img-top imageCenter rounded" src="<%= blog.image %>" alt="Card image" >
          <div class="card-body">
            <h4 class="card-title"><%= blog.title %></h4>
            
            <p class="card-text"><%- blog.body %></p>
      <p class="publishDate">Published: <%= blog.created.toDateString() %></p>
      <a class="btn btn-outline-success" href="/blogs/<%= blog._id %>/edit">Edit</a>

<form id="deleteForm" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
<button  class="btn btn-outline-danger">Delete</button>
</form>

          </div>
 </div>
</div>

<% include ./partials/footer %>